appdirs==1.4.4
APScheduler==3.8.1
audioread==2.1.9
backports.zoneinfo==0.2.1
Brotli==1.0.9
carbontracker==1.1.6
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==8.0.1
codecarbon==1.2.0
conda==4.3.16
cycler==0.10.0
Cython==0.29.15
dash==2.0.0
dash-bootstrap-components==1.0.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==4.4.2
et-xmlfile==1.1.0
-e git+https://github.com/pytorch/fairseq@d5618e9ecd05a1edaba5c0991efb3503f121d132#egg=fairseq
faiss==1.5.3
filelock==3.6.0
fire==0.4.0
Flask==2.0.2
Flask-Compress==1.10.1
future==0.18.2
geocoder==1.38.1
idna==2.9
importlib-metadata==4.6.1
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.0.1
kiwisolver==1.3.1
librosa==0.8.0
llvmlite==0.35.0
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib==3.4.2
nltk==3.6.2
numba==0.52.0
numpy==1.18.1
omegaconf==2.0.6
openpyxl==3.0.9
packaging==20.9
pandas==1.3.5
Pillow==7.0.0
pkg-resources==0.0.0
plotly==5.5.0
pooch==1.3.0
portalocker==1.5.2
psutil==5.9.0
py-cpuinfo==8.0.0
pycosat==0.6.3
pycparser==2.19
pynvml==11.4.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==5.4.1
ratelim==0.1.6
regex==2020.2.20
requests==2.23.0
resampy==0.2.2
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
sacrebleu==1.4.3
sacremoses==0.0.49
scikit-learn==0.24.1
scipy==1.4.1
sentencepiece==0.1.96
six==1.14.0
sklearn==0.0
SoundFile==0.10.3.post1
subword-nmt==0.3.7
tenacity==8.0.1
termcolor==1.1.0
threadpoolctl==2.1.0
tokenizers==0.8.1rc2
torch==1.9.0
torchaudio==0.9.0
torchvision==0.5.0
tqdm==4.43.0
transformers==3.3.1
typing==3.7.4.1
typing-extensions==3.7.4.3
tzdata==2021.5
tzlocal==4.1
urllib3==1.25.8
Werkzeug==2.0.2
zipp==3.5.0
